<?xml version="1.0" encoding="utf-8"?>
<formsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<notifications formEntrySubmittedNotificationTemplateId="b59b6b01-bdec-6c38-803a-ff000075ea9f" />
</formsConfig>