<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0">
	<notifications newPostNotificationTemplateId="c59a6b01-bdec-6c38-803a-ff000075ea9f" newThreadNotificationTemplateId="c69a6b01-bdec-6c38-803a-ff000075ea9f" />
</forumsConfig>