<?xml version="1.0" encoding="utf-8"?>
<systemConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.3.5000.0" build="5000" previousBuild="1" requireMaintenance="True">
	<applicationModules>
		<add version="6.3.5000.0" name="Multisite" />
		<add version="6.3.5000.0" name="Scheduling" />
		<add version="6.3.5000.0" name="Search" />
		<add version="6.3.5000.0" name="News" />
		<add version="6.3.5000.0" name="Blogs" />
		<add version="6.3.5000.0" name="Events" />
		<add version="6.3.5000.0" name="Libraries" />
		<add version="6.3.5000.0" name="Forms" />
		<add version="6.3.5000.0" name="Lists" />
		<add version="6.3.5000.0" name="Analytics" />
		<add version="6.3.5000.0" name="Newsletters" />
		<add version="6.3.5000.0" name="GenericContent" />
		<add version="6.3.5000.0" name="ControlTemplates" />
		<add version="6.3.5000.0" name="Migration" />
		<add version="6.3.5000.0" name="Ecommerce" />
		<add version="6.3.5000.0" name="ModuleBuilder" />
		<add version="6.3.5000.0" name="ResponsiveDesign" />
		<add version="6.3.5000.0" name="Publishing" />
		<add version="6.3.5000.0" name="Forums" />
		<add version="6.3.5000.0" name="Thunder" />
		<add version="6.3.5000.0" name="Personalization" />
		<add version="6.3.5000.0" name="Comments" />
		<add title="Testimonials" description="A simple user-control based module for maintaining a list of testimonials that can be sumitted by users." moduleId="00000000-0000-0000-0000-000000000000" type="SitefinityWebApp.Modules.Testimonials.TestimonialsModule" startupType="OnApplicationStart" errorMessage="No metadata has been registered for class 'SitefinityWebApp.Modules.Testimonials.Data.Testimonial, SitefinityWebApp, Version=4.3.1873.0, Culture=neutral, PublicKeyToken=null'. (This usually indicates, that either this class is not declared persistent or it is declared persistent but not enhanced. The class was loaded from file:///C:/GitHub/Telerik.Sitefinity.Samples.Testimonials/SitefinityWebApp/bin/SitefinityWebApp.DLL.)" name="Testimonials" />
	</applicationModules>
	<typeImplementationsMapping>
		<add type="Telerik.Sitefinity.Web.UI.Backend.Elements.Config.WidgetElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductTypeFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.ProductOtherFilterOptionsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.OrderStatusFilterWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Widgets.FilterProductsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Widgets.NavigateToTaxLogsWidgetDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.ContentUI.Config.ContentViewDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsListViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.CalendarViewMasterElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Modules.Events.Configuration.EventsViewDetailElement, Telerik.Sitefinity.ContentModules" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ForumsViewMasterElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.Config.ThreadsViewMasterElement, Telerik.Sitefinity.Forums" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
		<add type="Telerik.Sitefinity.Web.UI.Fields.Config.FieldControlDefinitionElement, Telerik.Sitefinity">
			<implementations>
				<add type="Telerik.Sitefinity.Forums.Web.Config.PostInfoFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Forums.Web.UI.Backend.Fields.GroupsBindableChoiceFieldElement, Telerik.Sitefinity.Forums" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.CreateVariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.VariationsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.InventoryFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.OrderFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.CustomerFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Orders.Web.UI.Fields.PaymentMethodSettingsFieldElement, Telerik.Sitefinity.Ecommerce" />
				<add type="Telerik.Sitefinity.Modules.Ecommerce.Catalog.Web.UI.Fields.Config.DependentFieldDefinitionElement, Telerik.Sitefinity.Ecommerce" />
			</implementations>
		</add>
	</typeImplementationsMapping>
</systemConfig>